body {
    background: rgb(82, 192, 255);
}
.container {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    button {
        color: white;
        background-color: rgb(25, 93, 202);
        border: 1px solid black;
        font-size: 15px;
        width: 170px;
        height: 50px;
        margin: 0 auto;
        text-align: center;
        &:hover {
            background-color: rgb(73, 157, 236);
        }
    }
    p {
        padding: 10px;
        background-color: rgba(43, 170, 255, 0.6);
        font-size: 22px;
        padding: 40px;
        margin: 15px auto;
    }
}
